<div class="col-md-12">
	<div class="container">
		<div class="row">
			<h2>Recently Ordered Items</h2>
			<marquee behavior="scroll" onmouseover="this.stop();" onmouseout="this.start();">
				<ul>
					{% for item in element.recent_order_items %}
						<li><a href="{{ item.restaurant.restaurant_url }}">{{ item.name }} ({{ item.restaurant.name }})</a></li>
					{% endfor %}
				</ul>
			</marquee>
		</div>
	</div>
</div>
