<div class="slider-main" style="background-image: url({{ element['#banner_url'] }})">
	<div class="container">
		<div class="slider-inner-mid-section">
			<img src="{{ element['#restaurant_name_image_url'] }}" >
		</div>
	</div>				 
</div>
