<div>
	<div class="checkout-details-screen">
		<div class="col-md-9">
			{{ element.form }}
		</div>
		
		<div class="col-md-3 food-cart-column">
			<div class="user-cart-container">
				{{ element.user_cart_block_html }}
			</div>
			{{ element.additionalData.restaurantMenuLink }}
		</div>
	</div>
</div>

